---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import ScrollText from '../components/ScrollText.astro';
import Infographics from '../components/Infographics.astro';
import Vision from '../components/Vision.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import Partners from '../components/Partners.astro';
import GoogleReviews from '../components/GoogleReviews.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <ScrollText />
    <Infographics />
    <Vision />
    <Services />
    <Products />
    <Partners />
    <GoogleReviews />
    <CTA />
  </main>
  <Footer />
</Layout>
